stepFunction.json
{
    "Comment": "A description of my state machine",
    "StartAt": "serialize_image_data",
    "States": {
      "serialize_image_data": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:578742287786:function:serializeImageData-scones-unlimited:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "classifier"
      },
      "classifier": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload": {
            "image_data.$": "$.body.image_data",
            "s3_bucket.$": "$.body.s3_bucket",
            "s3_key.$": "$.body.s3_key",
            "inferences.$": "$.body.inferences"
          },
          "FunctionName": "arn:aws:lambda:us-east-1:578742287786:function:classifier-scones:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "confidence_filter"
      },
      "confidence_filter": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload": {
            "image_data.$": "$.body.image_data",
            "s3_bucket.$": "$.body.s3_bucket",
            "s3_key.$": "$.body.s3_key",
            "inferences.$": "$.body.inferences"
          },
          "FunctionName": "arn:aws:lambda:us-east-1:578742287786:function:filter-scones:$LATEST"
        },
        "End": true
      }
    }
  }
